<style>
  div {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 200px;
    padding: 16px;
    margin: 16px;
  }

  a {
    color: white;
    text-decoration: none;
  }
</style>

<h1>Dragon Ball world!</h1>

  <div style="background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.5), rgb(0,0,0,0.2)), url('???');">
    <a href="#">
      <h2>Some character</h2>
      <p>Origin planet: ???</p>
    </a>
  </div>

