<h1>Character details:</h1>
<div style="text-align: center; width: 500px; height: 500px; padding: 16px; margin: 16px; background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.5), rgb(0,0,0,0.2)), url('???'); color: white">
    <h2>Some character name</h2>
    <p>Location: ???</p>
</div>
<a href="#">Back</a>
